@media (max-width: 1199.98px){

}
@media (max-width: 991.98px){

    .about-title {
        font-size: 27px;
}
    .mac img {
        margin: 20px 0 0 30px;
    }
    .list-items{
        display: none;
    }
    .title{font-size: 26px;}

}
@media (max-width:767.98px){
    .contact-inf {
        padding: 0;
    }
    .ti {
        padding: 0;
        font-size: 15px;
    }

}
@media (max-width: 575.98px){
    .logotype li {
        display: flex;
        justify-content: center;
        margin: 22px 0;
    }
}
